*.settings
*.idea
*.classpath
*.iml
*.project
*.DS_Store
*.externalToolBuilders
*.log
/bin/
/out/
/dist/
/target/
/node_modules/
*.sublime*
npm-debug.log*
**/module/*
**/data/*


#vscode

.vscode
package-lock.json
__temp.zip